<div class="form-container" id="toolbar">
    <!-- <header [@fallIn]="state"> -->
    <header>
      <button (click)="logout()" class="basic-btn">Logout</button>
    </header>
    <!-- <div id="page" [@moveInLeft]="state"> -->
    <div id="page">
      <h2>Hey {{ name.auth.displayName }}!</h2>


      <img src="assets/images/640px-Kinsarvik_landscape.png" />
      <!-- <img src="assets/images/filler.png" /> -->
By <a href="//commons.wikimedia.org/w/index.php?title=User:Smoking_fly&amp;action=edit&amp;redlink=1" class="new" title="User:Smoking fly (page does not exist)">Smoking fly</a> - <span class="int-own-work" lang="en">Own work</span>, <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=32549770">Link</a>
    </div>
<!-- By The original uploader was <a href="https://en.wikipedia.org/wiki/User:Amyharmony" class="extiw" title="wikipedia:User:Amyharmony">Amyharmony</a> at <a href="https://en.wikipedia.org/wiki/" class="extiw" title="wikipedia:">English Wikipedia</a> - Transferred from&nbsp;<span class="plainlinks"><a class="external text" href="//en.wikipedia.org">en.wikipedia</a></span>&nbsp;to Commons., <a href="http://creativecommons.org/licenses/by-sa/1.0" title="Creative Commons Attribution-Share Alike 1.0">CC BY-SA 1.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=27469839">Link</a> -->
    
</div>
